<!DOCTYPE html>
<html>
<main>
  <h1>Create New Movie</h1>

  <%= form_tag events_path do %>

    <%= label :event, :title, 'Title' %>
    <%= text_field :event, 'title' %>

    <%= label :event, :theme, 'Theme' %>
    <%= text_field :event, 'theme' %>

    <%= label :event, :location, 'Location' %>
    <%= text_field :event, 'location' %>

    <%= label :event, :date, 'Event Date' %>
    <%= date_select :event, :date %>

    <%= submit_tag 'Save Changes' %>

  <% end %>
</main>
</html>
